<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-language" content="ru"/>
	<title>{title_page}</title>
	<meta name="description" 	content="{description}"/>
	<meta name="keywords" 		content="{keywords}"/>
</head>
<body>
